*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor {
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

header{
    width: 100%;
    height: 600px;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(189, 87%, 97%, 0.678), hsla(201, 76%, 47%, 0.671)), url(../img/postal.jpg); 
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(189, 87%, 97%, 0.678), hsla(201, 76%, 47%, 0.671)), url(../img/postal.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}